@charset 'UTF-8';
@import 'style.css';
@import 'colors_fonts.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body{
    background-image: linear-gradient(45deg, $delftBlue, $polynesianBlue, $lapisLazuli, $silverLakeBlue, $vistaBlue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    padding: 40px;
    div{
        height: 250px;
        width: 250px;
        margin: auto;
        padding: 5px;
        background-image: linear-gradient(45deg, $purple 0%, $green 50.52%, $yellow 100%);
        border-radius: 50%;

        img{
            width: 100%;
            border-radius: 50%;
        }
    }
}

main{
    max-width: 800px;
    margin: auto;
    margin-bottom: 70px;
}

section{
    height: fit-content;
    background-image: linear-gradient(45deg, $purple 0%, $green 50.52%, $yellow 100%);
    padding-top: 5px;
    border-radius: 15px;
    margin-top: 40px;

    div{
        background-color: rgb(23, 23, 23);
        padding: 20px;
        border-radius: 15px;
    }

    h1{
        font-family: $tittlefont;
        font-size: 2em;
        margin-bottom: 8px;
    }

    p{
        font-family: $mainfont;
        font-size: 1.4em;
        margin-bottom: 30px;
    }

    img{
        margin-right: 20px;

        &:hover{
            transition: 0.4s;
            scale: (1.1);
        }
    }

    #game img{
        border-radius: 10px;
    }

    #streamers img{
        height: 120px;
        border-radius: 50%;
    }

    #networks img{
        height: 50px;
    }
}